.main {
  font-family: cursive;
}

.header {
  text-align: center;
  padding: 20px;
  background: #282c34;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.header #logStatus {
  float: right;
  cursor: pointer;
}

.contanier {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  /* margin: 15px; */

  text-align: center;
}

.contact {
  flex: 1;
  border-right: 1px solid #282c34;
  padding: 15px;
  height: 100vh;
}

.contact hr {
  width: 50%;
}

.msg {
  flex: 2;
  border-left: 1px solid #282c34;
  padding: 15px;
  height: 100vh;
}

.ncontact {
  margin: 15px 0px;
  background-color: #282c34;
  color: #fff;
  /* font-size: 20px; */
  padding: 20px 0px;
}

.ncontact p {
  font-size: 20px;
}

.logDiv {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin: 30px 0px;
}

.logDiv .form-row {
  display: flex;
  margin: 15px 0px;
}

.frdList li {
  list-style: none;
  cursor: pointer;
  color: blue;
  margin: 0px 0px 10px;
}

.frdList li:hover {
  text-decoration: underline;
}
